*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#tenSP{
    font-size: 45px;
    color: #333;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}
h1{
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(219, 219, 219);
}
th{
    padding: 10px;
    font-size: 30px;
}
td{
    font-size: 20px;
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.mucluc {
    font-size: 25px;
    color: rgb(219, 219, 219);
    display: flex;
}
.mucluc i{
    font-size: 24px;
    padding-right: 10px;
}
.mucluc a{
    font-size: 25px;
    color: rgb(219, 219, 219);
}
.mucluc a:hover{
    color: #D26E4B;
    transition: 0.1s;
}
header{
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    background-color: #333;
}
.admin-content {
    display: flex;
    height: 100%;
}
.admin-content-left{
    background-color: #333;
    width: 15%;
    min-height: 100vh;
    padding:20px 0 0 12px;
}
.category-item a{
    color: rgb(219, 219, 219);
}
.category-item a:hover{
    color: #D26E4B;
}
.admin-content-left > ul > li > a{
    font-weight: bold;
    font-size: 10px;
}
.admin-content-left ul li{
    margin: 15px 0;
    font-size: 25px;
}
.admin-content-left ul ul{
    margin-left: 35px;
}
.admin-content-left ul ul li{
    font-size: 22px;
}
.admin-content-right{
    width: 85%;
    padding: 0 0 50px 30px;
}
.admin-content-right-cartegory .cartegory-content input {
    height: 50px;
    width: 300px;
    padding-left: 12px;
    margin-top: 20px;
    font-size: 25px;
}
.admin-content-right-cartegory h1{
    padding-top: 10px;
    padding-left: 20px;
    color: #333;
}
.admin-content-right-cartegory .cartegory-content button {
    display: block;
    margin-top: 10px;
    height: 5vh;
    width: 120px;
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    border: none;
    color: white;
    font-size: 25px;
}
.admin-content-right-cartegory button:hover{
    background: #D26E4B;
    border: 0px solid rgb(17, 17, 17);
    color: white;
    border-radius: 5px;
}
/* Danh sách */

.admin-content-right-cartegory table {
    width: 100%;
    margin-top: 20px;
}

.admin-content-right-cartegory table tr th,td {
    border: 1px solid #dddddd;
    padding: 15px;
}
.admin-content-right-cartegory table tr td{
    font-size: 30px;
} 
table{
    border-collapse: collapse;
}
h1{
    padding-left: 20px;
    font-size: 40px;
}
.cartegory-content{
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
}
/* form */
.form-admin{
    width: 100%;
    display: flex;
}
.form-admin .left{
    width: 50%;
    display: block;
}
.form-admin .right{
    width: 50%;
    display: block;
}
.form-input{
    padding: 20px 10px 0 20px;
}
.form-input .btn{
    display: block;
    margin-top: 10px;
    height: 5vh;
    width: 120px;
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}
.form-input .btn:hover{
    background: #D26E4B;
    border: 0px solid rgb(17, 17, 17);
    color: white;
    border-radius: 5px;
}
.form-input .tieude-nho{
    display: flex;
    font-size: 30px;
    padding: 0 0 20px 0;
}
.form-input input{
    width: 60%;
    height: 6vh;
    font-size: 27px;
}
.form-input .selected #thuonghieu{
    width: 60%;
    height: 6vh;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
}
.sex{
    width: 50px;
    font-size: 27px;
}